.App {
  background-color: #83b4c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(0.5rem + 1vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
}
.largerBox {
  height: 10rem;
  width: 20rem;
}

.largerMargin {
  margin: 1rem 0 0.5rem;
}

.borderRadius {
  border-radius: 0.2rem;
}
.padding {
  padding: 0.2rem;
}
